In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Data\mercedes-train.csv', usecols = ['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [3]:
data.shape

(4209, 6)

In [8]:
len(data['X1'].unique())

27

In [9]:
len(data['X2'].unique())

44

In [10]:
## obtain count for each label in variable
data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [14]:
## make dictionary that maps each labels to its counts
df_frequency_map = data.X2.value_counts().to_dict()

In [15]:
## replace all the lables
data.X2 = data.X2.map(df_frequency_map)

data.head()

  X1   X2 X3 X4 X5 X6
0  v   12  a  d  u  j
1  t   12  e  d  y  l
2  w  137  c  d  x  j
3  t  137  f  d  x  l
4  v  137  f  d  h  d

Adv - 
1. Simple to Implement 
2. does not increase the featuere dimentional space 

DisAdv - 
1. If some of the labels have the same count, then they will be replaced with the same count and loose valiuable information