### One hot encoding on multi categorical variables

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Data\mercedes-train.csv', usecols = ['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d